/* ----------------------------------- */
/* Breadcrumbs' styles */
.breadcrumbs {
  font-size: 12px;
  margin: .5em 0 0 0;
}
.breadcrumbs ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs a {
  text-decoration: underline;
}
.breadcrumbs li:not(:last-child):after {  
  content: "›\00a0";
  display: inline-block;
  padding-left: .75ch;
  speak: none;
  vertical-align: middle;
}
.breadcrumbs [aria-current="page"] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}
.breadcrumbs [aria-current="page"]:hover,
.breadcrumbs [aria-current="page"]:focus {
  text-decoration: underline;
}

/* ======================================== */
/* for custom fonts, copied from base.css.
/* font referenced in theme.liquid */
/* ======================================== */
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: 'Balham';
  color: #3B3B3B;
}

/* ----------------------------------- */
/* Standard pages */
h1.main-page-title.page-title.h0 {
  font-family: 'Balham';
  font-size: 24px;
  text-align: center;
}

/* Verzenden & retourneren (retour form in app) */
/* Make form the same width as text */
#shopify-block-576742c4-7434-4b02-ad1a-fb263d1b63a6 {
  max-width: 710px;
  margin: auto;
}
